.about__cards {
  display: flex;
  align-items: center;
  margin-top: 70px;
  gap: 40px;
}
.about__left {
  width: 50%;
}

.about__right {
  width: 50%;
}

.about__right__img img {
  width: 100%;
}

.about__left__title {
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 770;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
}

.about__left__text {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 750;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  padding: 30px 0px 60px;
}


.about__right__img {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
}

.about__img__meva {
  grid-column: 1/2;
  grid-row: 1/2;
}

.about__img__sabzavot {
  grid-row: 2/3;
  grid-column: 1/2;
}

.about__img {
  grid-column: 2/3;
  grid-row: 1/3;
}
