@media (max-width:1000px) {
  .hero__left__title {
    font-size: 36px;
    line-height: 40px;
  }

  .hero__left__text {
    font-size: 20px;
  }

  .about__left__title {
    font-size: 40px;
  }

  .about__left__text {
    font-size: 20px;
  }
}

@media (max-width:800px) {
  .section__hero {
    flex-direction: column;
  }

  .hero__left {
    width: 100%;
  }

  .hero__right {
    width: 90%;
  }

  .about__cards {
    flex-direction: column;
  }
  .about__left {
    width: 100%;
  }

  .about__right {
    width: 100%;
  }
  
  .vegetable {
    flex-direction: column;
  }
  .vegetable__left,
  .vegetable__right {
    width: 100%;
  }

  .cooking {
    flex-direction: column;
  }

  .cooking__left {
    width: 100%;
  }

  .cook__right {
    display: none;
  }

  .subscribe__card{
    padding: 0px 20px;
  }
  .subscribe__card__title {
    font-size: 30px;
  }
  .subscribe__card__text {
    font-size: 10px;
  }
}

@media (max-width:600px) {
  .img {
    width: 70px;
  }
  .name__text {
    font-size: 12px;
  }

  .name__title {
    font-size: 10px;
  }
  .name__img {
    width: 50px;
  }

  .testimonials__text {
    font-size: 16px;
  }

  .form {
    flex-direction: column;
  }
  input {
    width: 100%;
  }
}

@media (max-width:450px) {
  
  .hero__left__title {
      font-size: 26px;
      line-height: 40px;
    }
  
    .hero__left__text {
      font-size: 16px;
    }

    .hero__left__btn {
      padding: 5px 25px;
      font-size: 10px;
    }

    .header__nav__contact-btn {
      display: none;
    }
    .position__right__img,
    .position__left__img,
    .position__bottom__img {
      position: absolute;
      width: 60px;
      right: 20px;
    }

    .choose__title {
      font-size: 40px;
    }

    .food__text {
      font-size: 20px;
    }
    .about__left__title {
      font-size: 36px;
    }

    .about__left__text {
      font-size: 15px;
    }

    .hero__left__btn {
      font-size: 15px;
      padding: 8px 20px;
    }
    
    .vegetable__title {
      font-size: 30px;
    }

    .vegetable__text {
      font-size: 20px;
    }

    .cook__title {
      font-size: 40px;
    }
    .cook__text {
      font-size: 20px;
    }

    .special__card {
      width: 250px;
      height: 100%;
    }

    .special__card img {
      width: 150px;
    }

    .name__img {
      display: none;
    }

    .subscribe__card__title {
      font-size: 26px;
    }

    .subscribe__card__text {
      font-size: 18px;
    }

    .footer__row {
      flex-direction: column;
    }
}
